body {
    background-color: #fff;
    font-family: sans-serif;
    color: white;
}

.card {
    background: goldenrod;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px #0007;
    border-radius: 10px;
}

.card_title {
    font-size: 22px;
    margin: 0;
    color: black;
}

.card_subtitle {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
    color: black;
}

.card_text {
    font-size: 15px;
    padding: 5px;
    background: sandybrown;
    padding-bottom: 0;
    text-align: justify;
    margin-bottom: 0;
    color: black;
}

.card_image {
    width: 200px;
    border-radius: 50%;
}