td, th {
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    border: none;
    border-bottom: 1px solid #aaa;
}

td {
    color: #444;
}

table {
   width: 100%;
   border-spacing: 7px;
   max-width: 500px;
   margin: auto;
   box-shadow: 0px 0px 10px #aaa;
}

.bold {
    background-color: #ccc;
    border: none;
}

.header_total, .dato_total {
    background-color: #ccc;
    border: none;
}